build/
snapshots/
bin/
CMakeCache.txt
CMakeFiles/
CMakeScripts/
.vscode/
log_vk_RayTracerAlan_KHR.txt
cmake_install.cmake
optixMeshViewer/build/
optixMeshViewer/CMakeFiles/
optixMeshViewer/CMakeCache.txt
data
lib/libglad.so
lib/libglfw.so.3.2
lib/libimgui.a
lib/libsutil_7_sdk.so
lib/ptx/sutil_generated_camera.cu.optixir
lib/ptx/sutil_generated_geometry.cu.optixir
lib/ptx/sutil_generated_shading.cu.optixir
lib/ptx/sutil_generated_whitted.cu.optixir
optixMeshViewer/cmake_install.cmake
support/cmake_install.cmake
support/CMakeFiles/glad.dir/compiler_depend.internal
support/CMakeFiles/glad.dir/compiler_depend.make
support/CMakeFiles/glad.dir/flags.make
support/CMakeFiles/glad.dir/link.txt
support/CMakeFiles/glad.dir/glad/glad.c.o
support/CMakeFiles/glad.dir/glad/glad.c.o.d
support/GLFW/cmake_install.cmake
support/GLFW/src/cmake_install.cmake
support/GLFW/src/CMakeFiles/glfw.dir/compiler_depend.internal
support/GLFW/src/CMakeFiles/glfw.dir/compiler_depend.make
support/GLFW/src/CMakeFiles/glfw.dir/context.c.o
support/GLFW/src/CMakeFiles/glfw.dir/context.c.o.d
support/GLFW/src/CMakeFiles/glfw.dir/egl_context.c.o
support/GLFW/src/CMakeFiles/glfw.dir/egl_context.c.o.d
support/GLFW/src/CMakeFiles/glfw.dir/flags.make
support/GLFW/src/CMakeFiles/glfw.dir/glx_context.c.o
support/GLFW/src/CMakeFiles/glfw.dir/glx_context.c.o.d
support/GLFW/src/CMakeFiles/glfw.dir/init.c.o
support/GLFW/src/CMakeFiles/glfw.dir/init.c.o.d
support/GLFW/src/CMakeFiles/glfw.dir/input.c.o
support/GLFW/src/CMakeFiles/glfw.dir/input.c.o.d
support/GLFW/src/CMakeFiles/glfw.dir/link.txt
support/GLFW/src/CMakeFiles/glfw.dir/linux_joystick.c.o
support/GLFW/src/CMakeFiles/glfw.dir/linux_joystick.c.o.d
support/GLFW/src/CMakeFiles/glfw.dir/monitor.c.o
support/GLFW/src/CMakeFiles/glfw.dir/monitor.c.o.d
support/GLFW/src/CMakeFiles/glfw.dir/posix_time.c.o
support/GLFW/src/CMakeFiles/glfw.dir/posix_time.c.o.d
support/GLFW/src/CMakeFiles/glfw.dir/posix_tls.c.o
support/GLFW/src/CMakeFiles/glfw.dir/posix_tls.c.o.d
support/GLFW/src/CMakeFiles/glfw.dir/vulkan.c.o
support/GLFW/src/CMakeFiles/glfw.dir/vulkan.c.o.d
support/GLFW/src/CMakeFiles/glfw.dir/window.c.o
support/GLFW/src/CMakeFiles/glfw.dir/window.c.o.d
support/GLFW/src/CMakeFiles/glfw.dir/x11_init.c.o
support/GLFW/src/CMakeFiles/glfw.dir/x11_init.c.o.d
support/GLFW/src/CMakeFiles/glfw.dir/x11_monitor.c.o
support/GLFW/src/CMakeFiles/glfw.dir/x11_monitor.c.o.d
support/GLFW/src/CMakeFiles/glfw.dir/x11_window.c.o
support/GLFW/src/CMakeFiles/glfw.dir/x11_window.c.o.d
support/GLFW/src/CMakeFiles/glfw.dir/xkb_unicode.c.o
support/GLFW/src/CMakeFiles/glfw.dir/xkb_unicode.c.o.d
support/imgui/cmake_install.cmake
support/imgui/CMakeFiles/imgui.dir/build.make
support/imgui/CMakeFiles/imgui.dir/compiler_depend.internal
support/imgui/CMakeFiles/imgui.dir/compiler_depend.make
support/imgui/CMakeFiles/imgui.dir/flags.make
support/imgui/CMakeFiles/imgui.dir/imgui_demo.cpp.o
support/imgui/CMakeFiles/imgui.dir/imgui_demo.cpp.o.d
support/imgui/CMakeFiles/imgui.dir/imgui_draw.cpp.o
support/imgui/CMakeFiles/imgui.dir/imgui_draw.cpp.o.d
support/imgui/CMakeFiles/imgui.dir/imgui_impl_glfw.cpp.o
support/imgui/CMakeFiles/imgui.dir/imgui_impl_glfw.cpp.o.d
support/imgui/CMakeFiles/imgui.dir/imgui_impl_opengl3.cpp.o
support/imgui/CMakeFiles/imgui.dir/imgui_impl_opengl3.cpp.o.d
support/imgui/CMakeFiles/imgui.dir/imgui_stdlib.cpp.o
support/imgui/CMakeFiles/imgui.dir/imgui_stdlib.cpp.o.d
support/imgui/CMakeFiles/imgui.dir/imgui_widgets.cpp.o
support/imgui/CMakeFiles/imgui.dir/imgui_widgets.cpp.o.d
support/imgui/CMakeFiles/imgui.dir/imgui.cpp.o
support/imgui/CMakeFiles/imgui.dir/imgui.cpp.o.d
sutil/CMakeFiles/sutil.dir/__/cuda/sutil_generated_camera.cu.optixir.cmake
sutil/CMakeFiles/sutil.dir/__/cuda/sutil_generated_geometry.cu.optixir.cmake
sutil/CMakeFiles/sutil.dir/__/cuda/sutil_generated_shading.cu.optixir.cmake
sutil/CMakeFiles/sutil.dir/__/cuda/sutil_generated_sphere.cu.optixir.cmake
sutil/CMakeFiles/sutil.dir/__/cuda/sutil_generated_whitted.cu.optixir.cmake
sutil/CMakeFiles/sutil_7_sdk.dir/build.make
sutil/CMakeFiles/sutil_7_sdk.dir/Camera.cpp.o
sutil/CMakeFiles/sutil_7_sdk.dir/Camera.cpp.o.d
sutil/CMakeFiles/sutil_7_sdk.dir/compiler_depend.internal
sutil/CMakeFiles/sutil_7_sdk.dir/compiler_depend.make
sutil/CMakeFiles/sutil_7_sdk.dir/flags.make
sutil/CMakeFiles/sutil_7_sdk.dir/GLDisplay.cpp.o
sutil/CMakeFiles/sutil_7_sdk.dir/GLDisplay.cpp.o.d
sutil/CMakeFiles/sutil_7_sdk.dir/link.txt
sutil/CMakeFiles/sutil_7_sdk.dir/PPMLoader.cpp.o
sutil/CMakeFiles/sutil_7_sdk.dir/PPMLoader.cpp.o.d
sutil/CMakeFiles/sutil_7_sdk.dir/Scene.cpp.o
sutil/CMakeFiles/sutil_7_sdk.dir/Scene.cpp.o.d
sutil/CMakeFiles/sutil_7_sdk.dir/sutil.cpp.o
sutil/CMakeFiles/sutil_7_sdk.dir/sutil.cpp.o.d
sutil/CMakeFiles/sutil_7_sdk.dir/Trackball.cpp.o
sutil/CMakeFiles/sutil_7_sdk.dir/Trackball.cpp.o.d
sutil/cmake_install.cmake
optixMeshViewer/cmake_install.cmake
support/cmake_install.cmake
support/CMakeFiles/glad.dir/compiler_depend.internal
support/CMakeFiles/glad.dir/compiler_depend.make
support/CMakeFiles/glad.dir/flags.make
support/CMakeFiles/glad.dir/link.txt
support/CMakeFiles/glad.dir/glad/glad.c.o
support/CMakeFiles/glad.dir/glad/glad.c.o.d
support/GLFW/cmake_install.cmake
support/GLFW/src/cmake_install.cmake
support/GLFW/src/CMakeFiles/glfw.dir/compiler_depend.internal
support/GLFW/src/CMakeFiles/glfw.dir/compiler_depend.make
support/GLFW/src/CMakeFiles/glfw.dir/context.c.o
support/GLFW/src/CMakeFiles/glfw.dir/context.c.o.d
support/GLFW/src/CMakeFiles/glfw.dir/egl_context.c.o
support/GLFW/src/CMakeFiles/glfw.dir/egl_context.c.o.d
support/GLFW/src/CMakeFiles/glfw.dir/flags.make
support/GLFW/src/CMakeFiles/glfw.dir/glx_context.c.o
support/GLFW/src/CMakeFiles/glfw.dir/glx_context.c.o.d
support/GLFW/src/CMakeFiles/glfw.dir/init.c.o
support/GLFW/src/CMakeFiles/glfw.dir/init.c.o.d
support/GLFW/src/CMakeFiles/glfw.dir/input.c.o
support/GLFW/src/CMakeFiles/glfw.dir/input.c.o.d
support/GLFW/src/CMakeFiles/glfw.dir/link.txt
support/GLFW/src/CMakeFiles/glfw.dir/linux_joystick.c.o
support/GLFW/src/CMakeFiles/glfw.dir/linux_joystick.c.o.d
support/GLFW/src/CMakeFiles/glfw.dir/monitor.c.o
support/GLFW/src/CMakeFiles/glfw.dir/monitor.c.o.d
support/GLFW/src/CMakeFiles/glfw.dir/posix_time.c.o
support/GLFW/src/CMakeFiles/glfw.dir/posix_time.c.o.d
support/GLFW/src/CMakeFiles/glfw.dir/posix_tls.c.o
support/GLFW/src/CMakeFiles/glfw.dir/posix_tls.c.o.d
support/GLFW/src/CMakeFiles/glfw.dir/vulkan.c.o
support/GLFW/src/CMakeFiles/glfw.dir/vulkan.c.o.d
support/GLFW/src/CMakeFiles/glfw.dir/window.c.o
support/GLFW/src/CMakeFiles/glfw.dir/window.c.o.d
support/GLFW/src/CMakeFiles/glfw.dir/x11_init.c.o
support/GLFW/src/CMakeFiles/glfw.dir/x11_init.c.o.d
support/GLFW/src/CMakeFiles/glfw.dir/x11_monitor.c.o
support/GLFW/src/CMakeFiles/glfw.dir/x11_monitor.c.o.d
support/GLFW/src/CMakeFiles/glfw.dir/x11_window.c.o
support/GLFW/src/CMakeFiles/glfw.dir/x11_window.c.o.d
support/GLFW/src/CMakeFiles/glfw.dir/xkb_unicode.c.o
support/GLFW/src/CMakeFiles/glfw.dir/xkb_unicode.c.o.d
support/imgui/cmake_install.cmake
support/imgui/CMakeFiles/imgui.dir/build.make
support/imgui/CMakeFiles/imgui.dir/compiler_depend.internal
support/imgui/CMakeFiles/imgui.dir/compiler_depend.make
support/imgui/CMakeFiles/imgui.dir/flags.make
support/imgui/CMakeFiles/imgui.dir/imgui_demo.cpp.o
support/imgui/CMakeFiles/imgui.dir/imgui_demo.cpp.o.d
support/imgui/CMakeFiles/imgui.dir/imgui_draw.cpp.o
support/imgui/CMakeFiles/imgui.dir/imgui_draw.cpp.o.d
support/imgui/CMakeFiles/imgui.dir/imgui_impl_glfw.cpp.o
support/imgui/CMakeFiles/imgui.dir/imgui_impl_glfw.cpp.o.d
support/imgui/CMakeFiles/imgui.dir/imgui_impl_opengl3.cpp.o
support/imgui/CMakeFiles/imgui.dir/imgui_impl_opengl3.cpp.o.d
support/imgui/CMakeFiles/imgui.dir/imgui_stdlib.cpp.o
support/imgui/CMakeFiles/imgui.dir/imgui_stdlib.cpp.o.d
support/imgui/CMakeFiles/imgui.dir/imgui_widgets.cpp.o
support/imgui/CMakeFiles/imgui.dir/imgui_widgets.cpp.o.d
support/imgui/CMakeFiles/imgui.dir/imgui.cpp.o
support/imgui/CMakeFiles/imgui.dir/imgui.cpp.o.d
sutil/CMakeFiles/sutil.dir/__/cuda/sutil_generated_camera.cu.optixir.cmake
sutil/CMakeFiles/sutil.dir/__/cuda/sutil_generated_geometry.cu.optixir.cmake
sutil/CMakeFiles/sutil.dir/__/cuda/sutil_generated_shading.cu.optixir.cmake
sutil/CMakeFiles/sutil.dir/__/cuda/sutil_generated_sphere.cu.optixir.cmake
sutil/CMakeFiles/sutil.dir/__/cuda/sutil_generated_whitted.cu.optixir.cmake
sutil/CMakeFiles/sutil_7_sdk.dir/build.make
sutil/CMakeFiles/sutil_7_sdk.dir/Camera.cpp.o
sutil/CMakeFiles/sutil_7_sdk.dir/Camera.cpp.o.d
sutil/CMakeFiles/sutil_7_sdk.dir/compiler_depend.internal
sutil/CMakeFiles/sutil_7_sdk.dir/compiler_depend.make
sutil/CMakeFiles/sutil_7_sdk.dir/flags.make
sutil/CMakeFiles/sutil_7_sdk.dir/GLDisplay.cpp.o
sutil/CMakeFiles/sutil_7_sdk.dir/GLDisplay.cpp.o.d
sutil/CMakeFiles/sutil_7_sdk.dir/link.txt
sutil/CMakeFiles/sutil_7_sdk.dir/PPMLoader.cpp.o
sutil/CMakeFiles/sutil_7_sdk.dir/PPMLoader.cpp.o.d
sutil/CMakeFiles/sutil_7_sdk.dir/Scene.cpp.o
sutil/CMakeFiles/sutil_7_sdk.dir/Scene.cpp.o.d
sutil/CMakeFiles/sutil_7_sdk.dir/sutil.cpp.o
sutil/CMakeFiles/sutil_7_sdk.dir/sutil.cpp.o.d
sutil/CMakeFiles/sutil_7_sdk.dir/Trackball.cpp.o
sutil/CMakeFiles/sutil_7_sdk.dir/Trackball.cpp.o.d
sutil/cmake_install.cmake
