build/
snapshots/
bin/
CMakeCache.txt
CMakeFiles/
CMakeScripts/
.vscode/
log_vk_RayTracerAlan_KHR.txt
cmake_install.cmake
optixMeshViewer/build/
optixMeshViewer/CMakeFiles/
optixMeshViewer/CMakeCache.txt
data
